In [5]:
import os
import quandl

In [6]:
api_key = os.environ['QUANDL_API_KEY']
quandl.ApiConfig.api_key = api_key

In [21]:
may = quandl.get("CME/NFK2018") # K
apr = quandl.get("CME/NFJ2018") # J
mar = quandl.get("CME/NFH2018") # H
feb = quandl.get("CME/NFG2018") # G
jan = quandl.get("CME/NFF2018") # F

In [22]:
jan.tail(30)

,Open,High,Low,Last,Change,Settle,Volume,Previous Day Open Interest
Date,,,,,,,,
2017-12-18,69.175,69.600,68.500,68.700,0.425,69.600,65.0,998.0
2017-12-19,68.800,69.225,68.800,69.000,0.625,68.975,20.0,1009.0
2017-12-20,69.300,69.325,69.100,69.225,0.125,69.100,12.0,999.0
2017-12-21,69.225,70.425,69.225,70.425,0.975,70.075,9.0,1001.0
2017-12-22,NaN,70.300,NaN,70.300,NaN,70.075,0.0,993.0
2017-12-26,NaN,70.225,NaN,70.225,0.075,70.150,0.0,993.0
2017-12-27,70.250,70.500,70.250,70.300,0.350,70.500,11.0,993.0
2017-12-28,70.150,70.500,70.000,70.000,0.500,70.000,46.0,984.0
2017-12-29,70.550,70.550,70.000,70.000,0.125,70.125,16.0,982.0
2018-01-02,70.025,70.075,70.025,70.075,0.100,70.025,2.0,978.0
2018-01-03,70.000,70.000,69.825,70.000,0.025,70.000,18.0,978.0
2018-01-04,69.850,69.850,69.850,69.850,0.150,69.850,4.0,981.0
2018-01-05,NaN,NaN,NaN,NaN,NaN,69.850,0.0,985.0
2018-01-08,70.000,70.475,69.750,69.750,0.100,69.750,26.0,985.0
2018-01-09,70.000,70.000,69.500,69.500,0.100,69.850,25.0,1007.0
2018-01-10,69.450,69.450,69.000,69.075,0.775,69.075,43.0,985.0
2018-01-11,69.000,69.000,68.850,69.000,0.075,69.000,33.0,982.0
2018-01-12,69.900,69.900,69.600,69.750,0.750,69.750,18.0,958.0
2018-01-16,69.750,70.850,69.750,70.300,0.550,70.300,16.0,968.0
2018-01-17,71.500,71.500,70.975,70.975,0.025,70.325,2.0,972.0
2018-01-18,70.300,70.450,70.025,70.050,NaN,70.325,9.0,973.0
2018-01-19,70.600,70.650,69.500,69.550,0.800,69.525,20.0,973.0
2018-01-22,NaN,NaN,NaN,NaN,NaN,69.525,0.0,975.0
2018-01-23,NaN,NaN,NaN,NaN,NaN,69.525,0.0,975.0
2018-01-24,69.525,69.750,69.525,69.750,0.025,69.550,8.0,975.0
2018-01-25,NaN,69.700,NaN,69.700,0.150,69.700,0.0,975.0
2018-01-26,NaN,NaN,NaN,NaN,NaN,69.700,0.0,975.0
2018-01-29,NaN,NaN,NaN,NaN,NaN,69.700,0.0,975.0
2018-01-30,NaN,NaN,NaN,NaN,NaN,69.700,0.0,975.0
2018-01-31,NaN,NaN,NaN,NaN,NaN,69.660,0.0,975.0